DOMAIN=jocus.local

POSTGRES_USER=jocus
POSTGRES_PASSWORD=changeme
POSTGRES_DB=jocus_dev
DATABASE_URL=ecto://jocus:changeme@postgres/jocus_dev

REDIS_URL=redis://redis:6379/0

MINIO_ROOT_USER=jocus_minio
MINIO_ROOT_PASSWORD=changeme
MINIO_BUCKET=game-assets

SECRET_KEY_BASE=generate-with-mix-phx-gen-secret
PHX_HOST=jocus.local

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=
